{% extends 'accounts/base.html' %}
{% load static %}
{% load customtags %}
{% block content %}
<style>

    .group-cover{
        height: 250px;
        width: 100%;
        background-color: #0088ff;
        margin: 10px auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .group-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
        background-color: #0088ff;
        margin: -50px 0px 5px 50px;
    }

    .advertise{
        background-color: #0088ff;
        color: white;
        border: 1px solid #f0f2f5;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 18px;
        margin-top: 5px;
    }

    .group-header{
        background-color: white;
        border-radius: 5px;
    }

    .group-info {
        color: white;
        text-align: left;
    }

    .group-info h5 {
        margin: -6px 0px 1px;
    }

    .group-info p {
        font-weight: normal;
        font-size: 14px;
    }

    .group-post{
        background-color: white;
        border-radius: 5px;
        padding: 10px 0;
    }


    .comment {
        border-radius: 10px;
        margin: 10px;
        background-color: white;
        padding: 10px 20px;
        width: 100%;
    }

    .post-form {
        margin: 15px auto 10px;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
    }

    .categ select {
        padding: 0px;
        font-size: 14px;
        background-color: #f5f5f5;
    }

    .describe textarea {
        padding: 10px 20px;
        margin: 10px auto;
        border-radius: 10px;
        min-height: 50px;
        max-height: 200px;
        resize: none;
        overflow-y: hidden;
        font-size: 16px;
    }

    .describe button {
        width: 100px;
        margin-right: 10px;
        border-radius: 10px;
        letter-spacing: 3px;
        font-weight: bold;
    }

    #id_location {
        border-bottom: 1px solid gray;
        border-radius: 0px;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .profile-pic img {
        height: 60px;
        width: 60px;
        margin: 20px;
    }

    .profile_img img {
        height: 60px;
        width: 60px;
    }

    /* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
    .fileinput-button {
        position: relative;
        overflow: hidden;
    }

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        font-size: 200px;
        direction: ltr;
        cursor: pointer;
    }

    .thumb {
        height: 80px;
        width: 100px;
        border: 1px solid #000;
    }

    ul.thumb-Images li {
        width: 120px;
        float: left;
        display: inline-block;
        vertical-align: top;
        height: 120px;
    }

    .img-wrap {
        position: relative;
        display: inline-block;
        font-size: 0;
    }

    .img-wrap .close {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 100;
        background-color: #d0e5f5;
        padding: 5px 2px 2px;
        color: #000;
        font-weight: bolder;
        cursor: pointer;
        opacity: 0.5;
        font-size: 23px;
        line-height: 10px;
        border-radius: 50%;
    }

    .img-wrap:hover .close {
        opacity: 1;
        background-color: #ff0000;
    }

    .FileNameCaptionStyle {
        font-size: 12px;
    }
    .content{
        background-color: white;
    }
</style> 

<div class="container">
    {% with group=posts.0.group %}
    {% include 'snippets/group_join_leave_modals.html' %}
    <div class="row">
        <div class="col-lg-8 mt-2" id="completePostSection">

            <!-- Group detail start -->
            <div id="groupBanner">
            {% include 'snippets/group_banner.html' %}
            </div>
            <!-- Group detail end -->
    {% endwith %}


        <div class="row">
            {% include 'snippets/group_post_detail.html' %}
        </div>

        <h3>Comments: </h3>
        <div class="row" id="postComments" getCommentUrl="{% url 'load_comments' %}" getRatingUrl="{% url 'feedback_fetch' %}" postid={{posts.0.id}}>
            <div class="col"></div>
        </div> 
        
        {% if request.user in posts.0.group.users.all %}
        <div class="row">
            <div class="col comment" id="enabledComment">
                <form id="postCommentForm" commenturl="{% url 'post_comment' %}" onsubmit="submitPostComment(event)"
                      postid={{posts.0.id}}>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comment</label>
                        <textarea class="form-control" id="postCommentInput" rows="4" required></textarea>
                    </div>
                    <button id="enabledButton" type="submit" class="btn btn-success" style="float:right;">Submit
                    </button>
                    <button id="disabledButton" type="submit" class="btn btn-success" style="float:right;display:none"
                            disabled="">
                        <div class="spinner-border" role="status">
                        </div>
                    </button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-4 d-none d-sm-none d-md-block">
         <div style="position:relative;">
                <aside class="user-info-wrapper">
                    <div class="user-cover" style="background-color:#0088FF;">

                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            {% if posts.0.author.profile_pic %}
                            <img src="{{posts.0.author.profile_pic.url}}" alt='user'>
                            {% else %}
                            <img src="{{defaultImage.profile_image.url}}" alt='user'>
                            {% endif %}
                        </div>
                        <div class="user-data">
                            <a href="{% url 'user_posts' posts.0.author.id %}"><h4>{{posts.0.author.name}}</h4>
                            <p class="mb-1">@{{posts.0.author.username}}</p></a>
                            <span>Joined: {{posts.0.author.date_joined|date:"M, Y"}}</span>
                        </div>
                        <p>{{posts.0.author.bio|default_if_none:"no bio"}}</p>
                        <div class="row" style="flex-direction:column-reverse;">
                            <div class="col">
                               <a href="#" onclick="loadUserPosts(event)" postsURL="{% url 'ajax_user_posts' %}" userid="{{posts.0.author.id}}">{{posts.0.author.post_set.all|totalQuery}} posts</a>
                            </div>
                            </div>
                        </div>
                        <p>

                        </p>
                        <hr>

                    </div>
                </aside>
            </div>
    </div>
        </div>
</div>

{% endblock %}

{% block domready %}
<script>
    loadComments()


     function joinGroup(event){
            event.preventDefault()
            var url = $('#joinBtn').attr('joinURL')
            var group_name = $('#joinBtn').attr('group_name')
            $.ajax({
                url:url,
                data:{
                    group_name:group_name
                },
                success:function(data){
                   document.getElementById('groupBanner').innerHTML = data
                },
                error:function(err){
                    console.log(err)
                }
            })
        }

         function leftGroup(event){
            event.preventDefault()
            var url = $('#leftBtn').attr('leftURL')
            var group_name = $('#leftBtn').attr('group_name')
            $.ajax({
                url:url,
                data:{
                    group_name:group_name
                },
                success:function(data){
                   document.getElementById('groupBanner').innerHTML = data
                },
                error:function(err){
                    console.log(err)
                }
            })
        }   


        function openJoinModal(event){
            event.preventDefault()
            $('#joinBtn').click()
        }

        function openLeftModal(event){
            event.preventDefault()
            $('#leftBtn').click()
        }

     function loadUserPosts(event){
        event.preventDefault()
        var url = event.target.attributes.postsURL.value
        var userid = event.target.attributes.userid.value
        $.ajax({
            url:url,
            data:{
                userid:userid
            },
            success:function(data){
                document.getElementById('completePostSection').innerHTML = data
            },
            error:function(err){
                console.log(err)
            }

        })
    }



    function likePost(event) {
        event.preventDefault()
        var target = event.target.children[0]
        var postid = target.attributes.postid.value
        var url = document.getElementById('urlTag').attributes.likedislikeurl.value
        var currentColor = target.attributes.fill.value
        target.attributes.fill.value = currentColor === 'blue' ? 'currentColor' : 'blue';
        document.getElementById(postid + 'dislike').attributes.fill.value = 'currentColor'
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                postId: postid,
                action: 'like',
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: function (data) {
                document.getElementById(postid + 'likeCount').innerHTML = data.likes
                document.getElementById(postid + 'dislikeCount').innerHTML = data.dislikes
            },
            error: function (err) {
                var currentColor = target.attributes.fill.value
                target.attributes.fill.value = currentColor === 'blue' ? 'currentColor' : 'blue';
            }
        })
    }


    function dislikePost(event) {
        event.preventDefault()
        var target = event.target.children[0]
        var postid = target.attributes.postid.value
        var url = document.getElementById('urlTag').attributes.likedislikeurl.value
        var currentColor = target.attributes.fill.value
        target.attributes.fill.value = currentColor === 'red' ? 'currentColor' : 'red'
        document.getElementById(postid + 'like').attributes.fill.value = 'currentColor'
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                postId: postid,
                action: 'dislike',
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: function (data) {
                console.log(data)
                document.getElementById(postid + 'likeCount').innerHTML = data.likes
                document.getElementById(postid + 'dislikeCount').innerHTML = data.dislikes
            },
            error: function (err) {
                console.log(err);
                var currentColor = target.attributes.fill.value
                target.attributes.fill.value = currentColor === 'red' ? 'currentColor' : 'red';
            }
        })
    }



    function submitPostComment(event) {
        event.preventDefault()
        var commentBox = document.getElementById('postCommentInput')
        var enableButton = document.getElementById('enabledButton')
        var disableButton = document.getElementById('disabledButton')
        var url = event.target.attributes.commenturl.value
        var postid = event.target.attributes.postid.value
        var message = commentBox.value
        enableButton.style.display = 'none'
        disableButton.style.display = 'inherit'
        commentBox.disabled = true
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                postId: postid,
                message: message,
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: function (data) {
                loadComments()
                commentBox.disabled = false
                commentBox.value = ''
                enableButton.style.display = 'inherit'
                disableButton.style.display = 'none'
            },
            error: function (err) {
                console.log(err)
                commentBox.disabled = false
                enableButton.style.display = 'inherit'
                disableButton.style.display = 'none'
            }
        })
    }

    function closesubmit(event){
        event.target.parentElement.parentElement.style.display='none'
    }

    function openfeedback(event){
        event.preventDefault()
        var postid = event.target.attributes.postid.value
        var feedbackform = document.getElementById(postid + 'feedbackform')
        feedbackform.style.display = 'initial'
    }

    function feedbackSubmit(event){
        event.preventDefault()
        var kvpairs = {'rating':'','feedback':''};
        var form = event.target // get the form somehow
        var postid = form.attributes.postid.value
        var url = form.attributes.feedbackurl.value
        for ( var i = 0; i < form.elements.length; i++ ) {
            var e = form.elements[i];
            if(e.checked || e.name == 'feedback'){
            kvpairs[encodeURIComponent(e.name)] = encodeURIComponent(e.value);
            }
        }
        console.log(kvpairs)
        $.ajax({
            url:url,
            type:'POST',
            data:{
                postid:postid,
                rating:kvpairs['rating'],
                feedback:kvpairs['feedback'],
                csrfmiddlewaretoken:'{{csrf_token}}'
            },
            success:function(data){
                 for ( var i = 0; i < form.elements.length; i++ ) {
            var e = form.elements[i];
            if(e.name == 'feedback'){
                e.value = '';
                e.focus()
            }
            else if(e.checked){
                e.checked = false;
            }
             }

             document.getElementById(postid + 'rating').innerHTML = data['rating']
             document.getElementById(postid + 'rating_count').innerHTML = data['rating_count'] + " " + "ratings"
                loadRatings()
            }
        })
    }

    

    function loadComments() {
        var commentUrl = $("#postComments").attr("getCommentUrl");
        var postId = $("#postComments").attr("postid")
        $.ajax({                       // initialize an AJAX request
            url: commentUrl,                    // set the url of the request (= localhost:8000/app/ajax/load-zones/)
            data: {
                'postId': postId      // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_zones` view function
                $("#postComments").html(data);  // replace the contents of the Zone input with the data that came from the server
            }
        });
    }

    function loadRatings(){
        var ratingUrl = $("#postComments").attr("getRatingUrl");
        var postId = $("#postComments").attr("postid")
        $.ajax({                       // initialize an AJAX request
        url: ratingUrl,                    // set the url of the request (= localhost:8000/app/ajax/load-zones/)
        data: {
          'postId': postId      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_zones` view function
          $("#postComments").html(data);  // replace the contents of the Zone input with the data that came from the server
        }
      });
        }


        const openDeletePopUp = event => {
        event.preventDefault()
        var postid = event.target.attributes.postid.value
        document.getElementById('confirmGroupPostDeleteBtn').setAttribute('postid', postid)
        document.getElementById('deleteBtn').click()
    }

    const openReportPopUp = event => {
        event.preventDefault()
        var postid = event.target.attributes.postid.value
        document.getElementById('confirmGroupPostFraudBtn').setAttribute('postid', postid)
        document.getElementById('confirmGroupPostSpamBtn').setAttribute('postid', postid)
        document.getElementById('reportBtn').click()
    }

     const deletePost = event => {
        var postid = event.target.attributes.postid.value
        var url = event.target.attributes.deleteurl.value
        var group_name = event.target.attributes.groupname.value
        $.ajax({
            url: url,
            data: {
                postid: postid
            },
            success: function (data) {
                console.log(data)
                window.location = window.location.origin + '/groups'
            },
            error: function (msg) {
                console.log(msg)
            }
        })
    }

    const fraudPost = event => {
        var postid = event.target.attributes.postid.value
        var url = event.target.attributes.reporturl.value
        $.ajax({
            url: url,
            data: {
                postid: postid,
                report_type: 'FRAUD'
            },
            success: function (data) {
                console.log(data)
                document.getElementById('reportAlert').style.display = 'inherit'
            },
            error: function (msg) {
                console.log(msg)
            }
        })
    }

    const spamPost = event => {
        var postid = event.target.attributes.postid.value
        var url = event.target.attributes.reporturl.value
        $.ajax({
            url: url,
            data: {
                postid: postid,
                report_type: 'SPAM'
            },
            success: function (data) {
                console.log(data)
                document.getElementById('reportAlert').style.display = 'inherit'
            },
            error: function (msg) {
                console.log(msg)
            }
        })
    }

    const removeOverflow = event => {

    }

     const copyToClipboard = str => {
        const el = document.createElement('textarea');
        el.value = str;
        el.setAttribute('readonly', '');
        el.style.position = 'absolute';
        el.style.left = '-9999px';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    };


    const copyUrl = event => {
        var str = window.location.origin + event.target.attributes.postURL.value
        copyToClipboard(str)
    }


</script>
{% endblock %}