{% autoescape off %}  
Hi {{ user.username }},  
Please click on the button to confirm your registration
<table width="100%" cellspacing="0" cellpadding="0" style="margin-top:10px;">
  <tr>
      <td>
          <table cellspacing="0" cellpadding="0">
              <tr>
                  <td style="border-radius: 2px;" bgcolor="#0088ff">
                      <a href="https://api.omokaa.com{% url 'activate_user' uidb64=uid token=token %}" target="_blank" style="padding: 8px 12px; border: 1px solid #0088ff;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                          Verify Your Account.          
                      </a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
If you think, it's not you, then just ignore this email.  
{% endautoescape %}