{% load static %}
{% load customtags %}


{% if proposal %}
<div class="comment">
    <div class="row">
        <div class="profile_img col-auto">
            {% if proposal.user.profile_pic %}
            <img src="{{proposal.bidder.profile_pic.url}}">
            {% else %}
            <img src="{{defaultImage.profile_image.url}}">
            {% endif %}
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <b>{{proposal.bidder.name}}</b> @{{proposal.bidder.username}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{proposal.created_at}}</p>
                </div>
            </div>
        </div>   
    </div>    
    <div class="row">
        <div class="col">
            <p>{{proposal.description|linebreaks}}</p>
        </div>
    </div>
</div>
{% endif %}