<div class="group-header">
<div class="group-cover"></div>
<div class="row group-info text-left">
    <div class="col-3">
        <div class="group-pic"></div>
    </div>
    <div class="col">
        <div class="col" align="right"><p><a class="advertise" href="{% url 'group_ads' %}">Advertise Here</a></p></div>
    </div>
    <div class="col-right mr-4">
        {% if request.user in group.users.all %}
        <a href="#" onclick="openLeftModal(event)">
            <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="#666666"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
            </svg>
        </a>
        {% else %}
        <a href="#" onclick="openJoinModal(event)">
            <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="#666666"
                 xmlns="http://www.w3.org/2000/svg" style="pointer-events:none">
                <path fill-rule="evenodd"
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"
                      style="pointer-events:none"/>
            </svg>
        </a>
        {% endif %}
    </div>
</div>
<h5 class="ml-4 mt-0" style="color: #0088ff;"><b>{{group.name}}</b></h5>
<div class="row">
    <div class="col" style="margin: -10px 24px; color: #666666; font-size: 14px">
        <p>{{posts.count}} <span>Posts</span><span>
            <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-dot" fill="#666666" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
            </svg>
        </span>{{group.users.count}} <span>Members</span></p>
    </div>
</div>
</div>