{% extends 'accounts/base.html' %}
{% load static %}
{% load customtags %}
{% block title %}About{% endblock %}
{% block content %}

<div class="container pt-4">
<div class="row">
    <div class="col-lg-4 d-none d-lg-block">

    </div>
    <div class="col menu-content">
        <h1>About Omokaa</h1><br>
        <h5>
Omokaa is a Kenyan slang word that means growing to the next level of your hustle. Omokaa offers you a first-rate platform to share your hustle to the world and partner with you in growing it. We are  a trusted, reliable global ecommerce leader that connects millions of buyers, sellers, job seekers and employers around the world to meet, interact and exchange goods and services. We are committed to the goal of maximizing the opportunities of buyers, sellers, job seekers and employers.
<br><br>Omokaa provides a platform where users showcase their works/hustles. Professionals can upload their works as part of creating their portfolio and merchants can post their products for potential clients to see.  Furthermore, users can create a bio, a brief summary of what they do, to make interaction with other users easier.
<br><br>Merchants and individuals can post items for sale under respective categories and subcategories and buyers can choose to contact them directly or bid competitively. On the other hand, buyers can post items/services they are interested in and sellers can contact them directly or make offers competitively.
<br><br>Employers can post jobs for free and still reach a large audience effectively as well as accessing a pool of relevant and qualified workforce. Job seekers can apply for the available jobs by uploading their curriculum vitae and/or portfolio and be assured of information and data security since it will only be visible to the person hiring. Employers can also make offers to potential employees privately and their offers can only be viewed by the selected job seeker(s). As an employer, you’re guaranteed to reach top talent and find the right candidate. As a job seeker, here’s where your next job is!
<br><br>Omokaa offers a secure and reliable chat system where users can engage each other without sharing personal phone numbers. We have a rating feature which users can use to rate posts to register feedback. This will assist potential users to make decisions. We also care to update you on emerging trends in industries you are interested in. As such, we have enabled subscribers to engage and interact in groups relevant to their fields of interest. Merchants can as well advertise on these groups. Users can as well filter the posts to see by selecting types, categories and sub-categories of their interests.
<br><br>Omokaa provides a huge reach of serious and dedicated community of buyers, sellers, employers and job seekers. Basically, Omokaa is a one stop shop for your contemporary ecommerce needs.
</h5>
    </div>
</div>

{% endblock %}